.header {
  background-color: var(--light-color);
  font-size: var(--body-font-size-m);
  border-bottom: 1px solid var(--border-color);
}

.header > div {
  margin: auto;
  max-width: 1200px;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav,
.header nav ul,
.header nav ol {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header nav {
  gap: 30px;
}

.header nav li {
  display: flex;
  align-items: center;
}

.header nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: var(--primary-color);
}

.header p {
  margin: 0;
}

@media (width >= 900px) {
  .header > div {
    padding: 20px 32px;
  }
}

@media (width < 900px) {
  .header nav,
  .header nav ul,
  .header nav ol {
    gap: 15px;
    font-size: var(--body-font-size-xs);
  }
}
